:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkZaori: #383838;
  --primaryDarkZaori: #FCCD12;
  --grayZaori: #AFAFAF;
  --primaryLightZaori: #FDF9E7;
  --buttonIconColor: #B5AFAF;
  --font-poppins: 'Poppins', sans-serif;
  --font-caveat: 'Caveat', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #FDF9E7;
  }
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-poppins);
  scroll-behavior: smooth !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  min-height: calc(100vh - 171px);
  padding-bottom: 3rem;
}

.font-thin { font-weight: 100; }
.font-extralight { font-weight: 200; }
.font-light { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-extrabold { font-weight: 800; }
.font-black { font-weight: 900; }